@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

::-webkit-scrollbar { width: 7px; }
::-webkit-scrollbar-thumb { background-color: #aaa; border-radius: 6px; }
::-webkit-scrollbar-thumb:hover { background-color: #666; }
